pyflagsercontain.egg-info/
pyflagsercount.egg-info/
build/
doc/
extra/
tests/
test_env/
sparsehash/
pybind11/
.vscode/
MANIFEST.in
tox.ini
pyflagsercontain/__pycache__
pyflagsercontain/*.so
*.pyc
dist/