pyflagsercontain.egg-info/
pyflagsercount.egg-info/
build/
doc/
extra/
tests/
test_env/
sparsehash/
.vscode/
MANIFEST.in
tox.ini
pyflagsercount/__pycache__
pyflagsercount/*.so
*.pyc
dist/
pybind11_old/